---
layout: default
---

<div class="profile-wrap">
  <img src="{{ '/assets/img/profile.png' | relative_url }}" alt="Dhruva Rao" class="profile-img">
  <div class="profile-text">
      {% assign about_page = site.tabs | where: "permalink", "/about/" | first %}
    {% if about_page %}
      {{ about_page.content }}
    {% endif %}
  </div>
</div>

<hr>

{% assign posts = site.posts | slice: 0, 5 %}
{% if posts.size > 0 %}
<p class="section-label">Recent writing</p>
<ul class="post-list">
  {% for post in posts %}
  <li>
    <span class="post-date">{{ post.date | date: "%Y-%m-%d" }}</span>
    <a href="{{ post.url | relative_url }}" class="post-link">{{ post.title }}</a>
  </li>
  {% endfor %}
</ul>
{% endif %}

{{ content }}
